/* Overall background color for all pages */
html {
    background-color: hsl(220, 13%, 18%);
}

/* Override the SearchBox Container style */
.ais-SearchBox-form {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

/* Override the SearchBox style */
.ais-SearchBox-input {
    max-width: none;
    width: 500px;
}

/* Override the Search Highlight style */
.ais-Highlight-highlighted {
    background-color: #939b4e;
}

/* Style for the logo */
.App-logo {
    height: 50vmin;
}

/* Style for title blocks */
.Model-Title {
    color: white;
    padding: 50px;
    text-align: center;
}

/* Style for model overview body block */
.Model-Body {
    padding: 10px;
    color: white;
    text-align: center;
}

/* Style for model overview table block */
.Model-Table {
    max-width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: auto;
}

/* Style for model table logos */
.Model-Table-Logo {
    max-block-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Style for model pagination */
.Model-Paging {
    max-width: 1000px;
    margin: auto;
}

/* Size for descriptions for model instances */
.Model-Description {
    max-width: 750px;
    margin: auto;
    text-align: justify;
}

/* Style for cards */
.Model-Card {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
}

/* Displays items in a horizontal block */
.Horizontal-Block {
    display: inline-flex;
}

/* Link Colors */
.App-link {
    color: #61dafb;
}

.grid-container-organization {
    display: grid;
    grid-gap: 10px 20px;
    grid-template-columns: auto auto auto auto auto;
}

.description {
    width: 100px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-title] {
    font-size: 18px;
    position: relative;
    cursor: help;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    bottom: -46px;
    padding: 10px;
    background: #000;
    color: #fff;
    font-size: 14px;
}

.logo {
    height: 60px;
}

.logobig {
    height: 120px;
}

.map {
    height: 100px;
}

.mapbig {
    height: 250px;
}

.Users {
    padding-bottom: 36px;
}

.Map-Padded {
    height: '100vh';
    width: '100%';
}
